* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background: #f2f2f2;
    }

#wrapper {
    width: 600px;
    height: 300px;
    margin: auto;
    background: #d9d9d9;
    border-radius: 25px;
}

#wrapper h1 {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 100px;
    padding-top: 10px;
}

#wrapper #tabel {
    width: 80%;
    padding: 10px 0 30px 50px;
}

td{
    width: 5px;
}